@import 'layouts/attribution';
@import 'layouts/cards';
@import 'layouts/contacts';
@import 'layouts/events';

.picture-inline {
  float: right;
  width: 45%;

  img {
    padding: 2% 2%;
  }

  @media screen and (max-width: $sm-break) {
    width: 100%;
  }
}
