.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.card-cell {
  text-decoration: none;
  width: 20em;
  height: 25em;
  display: block;
  margin: 1.5em 2.5em;

  figure {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    //margin: 0;
    border: 1px solid #000;
    border-radius: 15px;
    color: white;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;//was all ease .5s;
    &:hover {
      transform: translate(0, -10px);
    }

    .date {
      position: absolute;
      top: 0;
      right: 0;
      padding: .25em .5em;
      background-color: rgba(0,0,0,.66);
      font-weight: bold;
      text-shadow: 1px 1px black;
    }

    figcaption {
      text-shadow: 1px 1px black;
      background-color: rgba(0,0,0,.66);
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 1em;
      line-height: 1.5;
      margin: 0;
      @media screen and (max-width: $sm-break) {
        font-size: 7px;
      }

      h3 {
        margin: 0 0 10px;
      }
    }
  }
}
