.recommendations-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.recommendations-item {
  text-decoration: none;
  width: 17em;
  height: 22em;
  display: block;
  margin: 1em 2em;
  @media screen and (max-width: $sm-break) {
    width: 9em;
    height: 12em;
    margin: .5em .5em;
  }

  figure {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
    border-radius: 15px;
    color: white;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    &:hover {
      transform: translate(0, -10px);
    }

    figcaption {
      text-shadow: 1px 1px black;
      background-color: rgba(0,0,0,.66);
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 1em;
      line-height: 1.5;
      margin: 0;
      @media screen and (max-width: $sm-break) {
        font-size: 1em;
      }

      h3 {
        color: white;
        margin: 0 0 10px;
      }
    }
  }
}
